.addStudent{
    margin: 0 auto;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(190, 220, 247);
}


body {
    background-color: #e4def9;
  }


  